<div class="container-fluid">



    <div class="row">
      <div class="col-2" id="ColIzq">
        <div ngForm class=" col-sm-2 float-right">



        </div>

  </div>
  <div class="col-6" id="ColCentral">

    <h1>Usuario</h1>
    <h3>En el panel usario, podra alquilar y devolver los libros. Ademas, podra seguir si esta disponible o no</h3>
    <img class="ImagenFondo" src="assets/img/ImagenUsuario.jpg" alt="Imagen logo" />

 <!-- <div class="col float-left" *ngFor="let Titul of TituloLib">
  </div>*/
  <div class="col-4" id="ColCentral">-->


  </div>




</div>
</div>
