<div class="container-fluid" id="idAdmin" >



  <div class="row " id="ColIzq ">
    <div class="col-2" >
<div ngForm class=" col-sm-2 float-right">



</div>

</div>
<div class="col-6 " id="ColCentral">

  <h1>Panel Administrador</h1>
  <h3>
Las opciones de este panel Administrador, es para gestionar libros y usuarios nuevos.
Aqui podra editarlos, eliminarlos y agregar con solo tocar en el menu habilitado.


  </h3>
  <img class="ImagenFondo" src="assets/img/ImagenAdministrador.jpg" alt="Imagen administrador" />

<div class="col float-left " *ngFor="let Titul of TituloLib">



</div>




</div>

<div class="col-4 " id="ColCentral">




</div>
</div>




